<%- include("partials/header"); -%>



<form class="create-contact" action="/<%=Option.operation%>" method="post" >

<!-- Name-->
<div class="form-group row">
   <label for="Name" class="col-sm-2 col-form-label"><i class="fad fa-user"></i></label>
   <div class="col-sm-10">
     <input type="text" class="form-control create " name="contactName" placeholder="Enter your name" required>
   </div>
 </div>

 <!-- MobileNo-->
 <div class="form-group row">
    <label for="MobileNo" class="col-sm-2 col-form-label"><i class="fad fa-mobile"></i></label>
    <div class="col-sm-10">
      <input type="tel" pattern="[6789][0-9]{9}" title="Phone no should consist of 10 digit & starts with 6|7|8|9 Eg:9988776600"
      class="form-control create" name="mobileNo" placeholder="<%=Option.placeholder1%>" required>
    </div>
  </div>

  <!-- Mail Address-->
  <div class="form-group row">
     <label for="EmailAddress" class="col-sm-2 col-form-label"><i class="fad fa-envelope"></i></label>
     <div class="col-sm-10">
       <input type="email" class="form-control create" name="email" placeholder="<%=Option.placeholder2%>"  required>
     </div>
     <br /><br /><br />
     <button class="btn btn-success" type="submit" name="button"><%=Option.operation%> Contact</button>
   </div>








</form>


<%- include("partials/footer"); -%>
