

<%- include("partials/header"); -%>


<div class="innerresult-section">


    <p><b>Name :</b><%="\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0"+detail.name%></p>
    <p><b>MobileNo :</b><%="\xa0\xa0\xa0\xa0\xa0\xa0"+detail.MobileNo%> </p>
    <p><b>EmailAddress :</b><%="\xa0"+detail.EmailAddress%></p>


</div>


<%- include('partials/footer'); -%>
